@import url('https://fonts.cdnfonts.com/css/minecraft-4');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body {
    background-color: rgb(114, 173, 74);
}

a {
    text-decoration: none;
    color: inherit;
}

.bg-body-tertiary {
    background-image: url('terra.jpg');
    background-size: 65px;
}

.navbar-expand-lg .navbar-collapse {
    padding-left: 17%;
}

.container-fluid a {
    font-family: minecraft;
    color: rgb(255, 255, 255);
}

.container-fluid img {
    width: 40px;
}

.nav-link:hover {
    color: rgb(100, 244, 5);
}

.navbar-brand:hover {
    color: rgb(100, 244, 5);
}


/* home */

#texto-home {
    font-size: 20px;
    text-align: center;
    font-family: minecraft;
}

#img-home {
    width: 98.9vw;
    height: 100vh;
}

.btn-outline-success a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.btn-outline-success:hover a {
    color: rgb(255, 255, 255);
}

.btns_navbar {
    display: flex;
    gap: 15px;
}

.btn-outline-success {
    background-color: rgb(114, 173, 74);
    border-color: rgb(114, 173, 74);
}

.btn-outline-success:hover {
    border-color: rgb(149, 108, 70);
    background-color: rgb(149, 108, 70);
}

.container-scroll-sobre_verde {
    width: 100%;
    height: 100vh;
    background-color: rgb(114, 173, 74);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;

    font-size: 40px;
    color: rgb(255, 255, 255);
}

.container-scroll-sobre_verde img {
    width: 50%;
    padding: 5%;
}

.sobre_verde {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 25vw;
    gap: 15px;
    font-family: minecraft;
}

.btn-outline-light {
    height: 60px;
    width: 20vw;
    background-color: rgb(255, 255, 255);
    color: rgb(114, 173, 74);
    border-color: rgb(255, 255, 255);
}

.btn-outline-light a {
    text-decoration: none;
    font-size: 15px;
    color: rgb(114, 173, 74);
}

.btn-outline-light:hover {
    height: 60px;
    width: 20vw;
    border-color: rgb(255, 255, 255);
    background-color: rgb(114, 173, 74);
    color: rgb(255, 255, 255);
}

.btn-outline-light:hover a {
    height: 60px;
    width: 20vw;
    color: rgb(255, 255, 255);
}

.btn-outline-secondary {
    height: 60px;
    width: 15vw;
    color: rgb(255, 255, 255);
    background-color: rgb(134, 79, 43);
    border-color: rgb(134, 79, 43);
}

.btn-outline-secondary a {
    text-decoration: none;
    font-size: 15px;
    color: rgb(255, 255, 255);
}

.btn-outline-secondary:hover {
    background-color: rgb(255, 255, 255);
    border-color: rgb(134, 79, 43);
}

.btn-outline-secondary:hover a {
    height: 60px;
    width: 15vw;
    color: rgb(134, 79, 43);
}

.container-scroll-sobre_marrom {
    width: 100%;
    height: 100vh;
    background-color: rgb(134, 79, 43);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;

    font-size: 40px;
    color: rgb(255, 255, 255);
}

.container-scroll-sobre_marrom img {
    width: 50%;
    padding: 5%;
}

.sobre_marrom {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 25vw;
    gap: 15px;
    font-family: minecraft;
}

.sobre_marrom .btn-outline-light {
    height: 60px;
    width: 15vw;
    background-color: rgb(114, 173, 74);
    border-color: rgb(114, 173, 74);
}

.sobre_marrom .btn-outline-light a {
    text-decoration: none;
    font-size: 15px;
    color: rgb(255, 255, 255);
}

.sobre_marrom .btn-outline-light:hover {
    height: 60px;
    width: 15vw;
    border-color: rgb(114, 173, 74);
    background-color: rgb(255, 255, 255);
    color: rgb(114, 173, 74);
}

.sobre_marrom .btn-outline-light:hover a {
    color: rgb(114, 173, 74);
}

/* Login */

.login {
    margin-top: 13%;
    font-family: minecraft;
    text-align: center;
    font-size: 20px;
}

.login span {
    font-size: 30px;
    color: rgb(255, 255, 255);
}

.login input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgb(255, 255, 255);
    font-size: 24px;
    color: white;
}

.login input:focus {
    outline: none;
}

#div_erro {
    color: red;
}


/* Cadastro */

.cadastro {
    margin-top: 10%;
    font-family: minecraft;
    text-align: center;
    font-size: 20px;
}

#cadastro {
    font-size: 30px;
    color: rgb(255, 255, 255);
}

.cadastro input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgb(255, 255, 255);
    font-size: 24px;
    color: white;
}

.cadastro input:focus {
    outline: none;
}

#deveConter {
    font-size: 12px;
    font-family: roboto;
    color: white;
}


/* Sobres */

.container-scroll-sobre {
    padding-top: 3%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.container-scroll-sobre img {
    width: 35%;
    padding: 5%;
}

.sobre h1 {
    font-family: minecraft;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.sobre span {
    font-family: roboto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    font-size: 15px;
}

/* Perfil */

.container-scroll-perfil {
    padding-top: 3%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10%;
}

.perfil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    width: 16vw;
}

.container-scroll-perfil .perfil img {
    bottom: 0;
    width: 100px;
    border-radius: 100%;
    background-color: white;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.container-scroll-perfil .perfil span {
    font-family: minecraft;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    justify-content: center;
}

.container-scroll-perfil span {
    font-family: roboto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    font-size: 20px;
    color: white;
}

#nav-sair {
    height: 8vh;
    font-family: minecraft;
    font-size: 50px;
    color: white;
    display: flex;
    justify-content: end;
}

#nav-sair span {
    margin-right: 5%;
    margin-top: 50px;
}