@import url('https://fonts.cdnfonts.com/css/minecraft-4');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body::-webkit-scrollbar {
    width: 17px;
}

body::-webkit-scrollbar-track {
    background: rgba(149, 108, 70, 0);
}

body::-webkit-scrollbar-thumb {
    background-image: url('tocha.png');
    background-size: 38px;
}


body {
    background-color: rgb(114, 173, 74);
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

.bg-body-tertiary {
    background-image: url('terra.jpg');
    background-size: 65px;
}

.navbar-expand-lg .navbar-collapse {
    padding-left: 17%;
}

.container-fluid a {
    font-family: minecraft;
    color: rgb(255, 255, 255);
}

.container-fluid img {
    width: 40px;
}

.nav-link:hover {
    color: rgb(100, 244, 5);
}

.navbar-brand:hover {
    color: rgb(100, 244, 5);
}

#btnInicio {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-image: url('terra.jpg');
    background-size: contain;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}

/* home */

#texto-home {
    font-size: 20px;
    text-align: center;
    font-family: minecraft;
}

#img-home {
    width: 100vw;
    height: 100vh;
}

.btn-outline-success a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.btn-outline-success:hover a {
    color: rgb(255, 255, 255);
}

.btns_navbar {
    display: flex;
    gap: 15px;
}

.btn-outline-success {
    background-color: rgb(114, 173, 74);
    border-color: rgb(114, 173, 74);
}

.btn-outline-success:hover {
    border-color: rgb(149, 108, 70);
    background-color: rgb(149, 108, 70);
}


#footer {
    background-color: rgb(114, 173, 74);
    height: 150px;
    color: #fff;
    margin-top: 70px;
    justify-content: center;
    text-align: center;
}

#footer a {
    display: row;
}

#footer span {
    font-size: 15px;
    font-family: roboto;
}

/* Sobres */

.container-scroll-sobreEdu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    background-image: url(../assets/imgs/bedrock.jpeg);
}

.container-scroll-sobreEdu img {
    width: 35%;
    padding: 5%;
}

.sobreEdu h1 {
    font-family: minecraft;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.sobreEdu span {
    font-family: roboto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 15px;

}

.sobreEdu {
    background-color: white;
    border-radius: 5%;
    padding: 2%;
}

.container-scroll-sobreMoj {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 101vh;
    background-image: url('../assets/imgs/diamante.jpg');
}

.container-scroll-sobreMoj img {
    width: 35%;
    padding: 5%;
}

.sobreMoj h1 {
    font-family: minecraft;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.sobreMoj span {
    font-family: roboto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 15px;

}

.sobreMoj {
    background-color: white;
    border-radius: 5%;
    padding: 2%;
}


.container-scroll-sobreMine {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 101vh;
    background-image: url(../assets/imgs/pedra.jpg);
}

.container-scroll-sobreMine img {
    width: 35%;
    padding: 5%;
}

.sobreMine h1 {
    font-family: minecraft;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.sobreMine span {
    font-family: roboto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 15px;

}

.sobreMine {
    background-color: white;
    border-radius: 5%;
    padding: 1%;
}

.container-scroll-sobreMim {
    padding-top: 5%;
    display: flex;
    height: 101vh;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-image: url('../assets/imgs/fundo.jpg');
}

.container-scroll-sobreMim img {
    width: 35%;
    padding: 5%;
}

.sobreMim h1 {
    font-family: minecraft;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.sobreMim span {
    font-family: roboto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 15px;

}

.sobreMim {
    background-color: white;
    border-radius: 10%;
    padding: 2%;
}