@import url('https://fonts.cdnfonts.com/css/minecraft-4');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background-image: url('../assets/imgs/background.gif');
    background-size: 100%;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}


.bg-body-tertiary {
    background-image: url('terra.jpg');
    background-size: 65px;
}

.navbar-expand-lg .navbar-collapse {
    padding-left: 17%;
}

.container-fluid a {
    font-family: minecraft;
    color: rgb(255, 255, 255);
}

.container-fluid img {
    width: 40px;
}

.nav-link:hover {
    color: rgb(100, 244, 5);
}

.navbar-brand:hover {
    color: rgb(100, 244, 5);
}

.btn-outline-success a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.btn-outline-success:hover a {
    color: rgb(255, 255, 255);
}

.btns_navbar {
    display: flex;
    gap: 15px;
}

.btn-outline-success {
    background-color: rgb(114, 173, 74);
    border-color: rgb(114, 173, 74);
}

.btn-outline-success:hover {
    border-color: rgb(149, 108, 70);
    background-color: rgb(149, 108, 70);
}

.btn-outline-light {
    height: 60px;
    width: 23vw;
    background-color: rgb(255, 255, 255);
    color: rgb(114, 173, 74);
    border-color: rgb(255, 255, 255);
}

.btn-outline-light a {
    text-decoration: none;
    font-size: 15px;
    color: rgb(114, 173, 74);
}

.btn-outline-light:hover {
    height: 60px;
    width: 23vw;
    border-color: rgb(149, 108, 70);
    background-color: rgb(149, 108, 70);
    color: rgb(255, 255, 255);
}

.btn-outline-light:hover a {
    height: 60px;
    width: 20vw;
    color: rgb(255, 255, 255);
}

/* Login */

.login {
    margin-top: 13%;
    font-family: minecraft;
    text-align: center;
    font-size: 20px;
    width: 26vw;
    margin-left: 37%;
    background-color: rgba(114, 173, 74, 0.812);
    border-radius: 15px;
    padding: 1%;
}

.login span {
    font-size: 30px;
    color: rgb(255, 255, 255);
}

.login input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgb(255, 255, 255);
    font-size: 24px;
    color: white;
}

.login input:focus {
    outline: none;
}

#div_erro {
    color: red;
}

#div_sucesso {
    color: rgb(134, 79, 43);
}


/* Cadastro */

.cadastro {
    margin-top: 10%;
    font-family: minecraft;
    text-align: center;
    font-size: 20px;
    width: 26vw;
    margin-left: 37%;
    background-color: rgba(114, 173, 74, 0.812);
    border-radius: 15px;
    padding: 1%;
}

#cadastro {
    font-size: 30px;
    color: rgb(255, 255, 255);
}

.cadastro input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgb(255, 255, 255);
    font-size: 24px;
    color: white;
}

.cadastro input:focus {
    outline: none;
}

::-webkit-input-placeholder {
    color: white;
}



#deveConter {
    font-size: 12px;
    font-family: roboto;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

#possuiOuNao {
    font-size: 15px;
    font-family: roboto;
    color: white;
}

#possuiOuNao a {
    color: rgb(134, 79, 43);
    text-decoration: underline;
}