@import url('https://fonts.cdnfonts.com/css/minecraft-4');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body::-webkit-scrollbar {
    width: 17px;
}

body::-webkit-scrollbar-track {
    background: rgb(149, 108, 70);
}

body::-webkit-scrollbar-thumb {
    background-image: url('tocha.png');
    background-size: 38px;
}

body {
    background-color: rgb(114, 173, 74);
    overflow-x: hidden;
}


a {
    text-decoration: none;
    color: inherit;
}

.bg-body-tertiary {
    background-image: url('terra.jpg');
    background-size: 65px;
}

.navbar-expand-lg .navbar-collapse {
    padding-left: 17%;
}

.container-fluid a {
    font-family: minecraft;
    color: rgb(255, 255, 255);
}

.container-fluid img {
    width: 40px;
}

.nav-link:hover {
    color: rgb(100, 244, 5);
}

.navbar-brand:hover {
    color: rgb(100, 244, 5);
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-image: url('terra.jpg');
    background-size: contain;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;

}

/* home */

#texto-home {
    font-size: 20px;
    text-align: center;
    font-family: minecraft;
}

#img-home {
    width: 98.9vw;
    height: 100vh;
}

.btn-outline-success a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.btn-outline-success:hover a {
    color: rgb(255, 255, 255);
}

.btns_navbar {
    display: flex;
    gap: 15px;
}

.btn-outline-success {
    background-color: rgb(114, 173, 74);
    border-color: rgb(114, 173, 74);
}

.btn-outline-success:hover {
    border-color: rgb(149, 108, 70);
    background-color: rgb(149, 108, 70);
}

.container-scroll-sobre_verde {
    width: 100%;
    height: 100vh;
    background-color: rgb(114, 173, 74);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;

    font-size: 40px;
    color: rgb(255, 255, 255);
}

.container-scroll-sobre_verde img {
    width: 50%;
    padding: 5%;
}

.sobre_verde {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 25vw;
    gap: 15px;
    font-family: minecraft;
}

.btn-outline-light {
    height: 60px;
    width: 23vw;
    background-color: rgb(255, 255, 255);
    color: rgb(114, 173, 74);
    border-color: rgb(255, 255, 255);
}

.btn-outline-light a {
    text-decoration: none;
    font-size: 15px;
    color: rgb(114, 173, 74);
}

.btn-outline-light:hover {
    height: 60px;
    width: 23vw;
    border-color: rgb(255, 255, 255);
    background-color: rgb(114, 173, 74);
    color: rgb(255, 255, 255);
}

.btn-outline-light:hover a {
    height: 60px;
    width: 20vw;
    color: rgb(255, 255, 255);
}

.btn-outline-secondary {
    height: 60px;
    width: 15vw;
    color: rgb(255, 255, 255);
    background-color: rgb(134, 79, 43);
    border-color: rgb(134, 79, 43);
}

.btn-outline-secondary a {
    text-decoration: none;
    font-size: 15px;
    color: rgb(255, 255, 255);
}

.btn-outline-secondary:hover {
    background-color: rgb(255, 255, 255);
    border-color: rgb(134, 79, 43);
}

.btn-outline-secondary:hover a {
    height: 60px;
    width: 15vw;
    color: rgb(134, 79, 43);
}

.container-scroll-sobre_marrom {
    width: 100%;
    height: 100vh;
    background-color: rgb(134, 79, 43);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;

    font-size: 40px;
    color: rgb(255, 255, 255);
}

.container-scroll-sobre_marrom img {
    width: 50%;
    padding: 5%;
}

.sobre_marrom {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 25vw;
    gap: 15px;
    font-family: minecraft;
}

.sobre_marrom .btn-outline-light {
    height: 60px;
    width: 15vw;
    background-color: rgb(114, 173, 74);
    border-color: rgb(114, 173, 74);
}

.sobre_marrom .btn-outline-light a {
    text-decoration: none;
    font-size: 15px;
    color: rgb(255, 255, 255);
}

.sobre_marrom .btn-outline-light:hover {
    height: 60px;
    width: 15vw;
    border-color: rgb(114, 173, 74);
    background-color: rgb(255, 255, 255);
    color: rgb(114, 173, 74);
}

.sobre_marrom .btn-outline-light:hover a {
    color: rgb(114, 173, 74);
}

#footer {
    background-color: rgb(114, 173, 74);
    height: 150px;
    color: #fff;
    margin-top: 70px;
    justify-content: center;
    text-align: center;
}

#footer a {
    display: row;
}

#footer span {
    font-size: 15px;
    font-family: roboto;
}

/* Login */

.login {
    margin-top: 13%;
    font-family: minecraft;
    text-align: center;
    font-size: 20px;
}

.login span {
    font-size: 30px;
    color: rgb(255, 255, 255);
}

.login input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgb(255, 255, 255);
    font-size: 24px;
    color: white;
}

.login input:focus {
    outline: none;
}

#div_erro {
    color: red;
}

#div_sucesso {
    color: rgb(134, 79, 43);
}


/* Cadastro */

.cadastro {
    margin-top: 10%;
    font-family: minecraft;
    text-align: center;
    font-size: 20px;
}

#cadastro {
    font-size: 30px;
    color: rgb(255, 255, 255);
}

.cadastro input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgb(255, 255, 255);
    font-size: 24px;
    color: white;
}

.cadastro input:focus {
    outline: none;
}

#deveConter {
    font-size: 12px;
    font-family: roboto;
    color: white;
}

#possuiOuNao {
    font-size: 15px;
    font-family: roboto;
    color: white;
}

#possuiOuNao a {
    color: rgb(134, 79, 43);
    text-decoration: underline;
}


/* Sobres */

.container-scroll-sobreEdu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    background-color: rgb(134, 79, 43);
    ;
}

.container-scroll-sobreEdu img {
    width: 35%;
    padding: 5%;
}

.sobreEdu h1 {
    font-family: minecraft;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.sobreEdu span {
    font-family: roboto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 15px;

}

.sobreEdu {
    background-color: white;
    border-radius: 5%;
    padding: 2%;
}

.container-scroll-sobreMoj {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 101vh;
}

.container-scroll-sobreMoj img {
    width: 35%;
    padding: 5%;
}

.sobreMoj h1 {
    font-family: minecraft;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.sobreMoj span {
    font-family: roboto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 15px;

}

.sobreMoj {
    background-color: white;
    border-radius: 5%;
    padding: 2%;
}


.container-scroll-sobreMine {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 101vh;
    background-color: rgb(134, 79, 43);
}

.container-scroll-sobreMine img {
    width: 35%;
    padding: 5%;
}

.sobreMine h1 {
    font-family: minecraft;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.sobreMine span {
    font-family: roboto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 15px;

}

.sobreMine {
    background-color: white;
    border-radius: 5%;
    padding: 1%;
}

.container-scroll-sobreMim {
    padding-top: 5%;
    display: flex;
    height: 101vh;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.container-scroll-sobreMim img {
    width: 35%;
    padding: 5%;
}

.sobreMim h1 {
    font-family: minecraft;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.sobreMim span {
    font-family: roboto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 15px;

}

.sobreMim {
    background-color: white;
    border-radius: 10%;
    padding: 2%;
}

/* Perfil */

.container-scroll-perfil {
    padding-top: 3%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10%;
}

.perfil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    width: 16vw;
}

.container-scroll-perfil .perfil img {
    bottom: 0;
    width: 100px;
    border-radius: 100%;
    background-color: white;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.container-scroll-perfil .perfil span {
    font-family: minecraft;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    justify-content: center;
}

.container-scroll-perfil span {
    font-family: roboto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    font-size: 20px;
    color: white;
}

#nav-sair {
    height: 8vh;
    font-family: minecraft;
    font-size: 50px;
    color: white;
    display: flex;
    justify-content: end;
}

#nav-sair span {
    margin-right: 5%;
    margin-top: 50px;
}

/*Quiz*/
.btn-outline-secondaryQuiz {
    height: 60px;
    width: 15vw;
    color: rgb(255, 255, 255);
    background-color: rgb(134, 79, 43);
    border-color: rgb(134, 79, 43);
    font-family: minecraft;
}

.btn-outline-secondaryQuiz:hover {
    background-color: rgb(255, 255, 255);
    border-color: rgb(134, 79, 43);
    color: rgb(134, 79, 43);
}

#containerPerguntas {
    font-size: 17px;
}


/*DashBoard*/

#div_total {
    font-size: 25px;
    background-color: white;
    font-family: minecraft;
    border-radius: 30px;
    width: 15vw;
    height: 15vh;
    text-align: center;
    display: flex;
    align-items: center;
}

#nav-sairResultado {
    height: 8vh;
    font-family: minecraft;
    font-size: 25px;
    color: white;
    display: flex;
    justify-content: end;
    margin-right: 5%;
    margin-top: 50px;
}

.container-scroll-dash {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5%;
}